@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(225, 100%, 94%) url('pattern-background-desktop.svg') no-repeat center top fixed;
}

.main {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  width: 450px;
  margin: auto;
  border-radius: 5%;
  text-align: center;
  overflow: hidden;
  background-color: white;
  height: 650px;
  position: relative;
  top: 70px;
  box-shadow: 0px 10px 15px hsl(224, 23%, 60%);
}

.picture img {
  width: 100%;
}

.summary {
  padding: 20px;
}

h1 {
  font-weight: 900;
  padding: 10px;
  font-size: 24px;
  letter-spacing: 2px;
  color: hsl(223, 47%, 23%);
}

.paragraph {
  position: relative;
  width: 300px;
  margin: auto;
  line-height: 1.5;
}

.paragraph p {
  color: hsl(224, 23%, 55%);
  font-weight: 500px;
}

.plan {
  display: flex;
  margin: 10px 50px;
  padding: 20px;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
}

.price {
  margin-left: 20px;
}

.plan a {
  position: relative;
  left: 90px;
}

.plan a:hover {
  text-decoration: none;
  color: hsla(245, 75%, 52%, 0.6);
}

#p1 {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

#p2 {
  color: hsl(224, 23%, 55%);
}

a {
  font-weight: 700;
}

button {
  padding: 15px;
  width: 80%;
  margin: 20px auto;
  background-color:  hsl(245, 75%, 52%);
  color: white;
  font-weight: 900;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 15px 10px hsl(225, 100%, 94%);
}

button:hover {
  cursor: pointer;
  background-color: hsla(245, 75%, 52%, 0.6);
}

.payment a {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}

.payment a:hover {
  color: black;
}

@media only screen and (max-width: 375px) {
  body {
    background: hsl(225, 100%, 94%) url('pattern-background-mobile.svg') no-repeat center top fixed;
  }

  .main {
    width: 90%;
    position: static;
    height: 500;
    margin: 20px auto;
  }
  
  .plan a{
    position: static;
    margin-left: 20px;
  }
}
